<div class="container-fluid">
    <header> </header>
    
    <div class="biography row col-md-12 col-lg-9 mx-auto">
        <img class="col-lg-3 col-md-4" src="../assets/images/presentation.png" alt="Photo de moi">

        <div class="container col-lg-9 col-md-8">
            <p class="myname">
                Vincent Buisset
            </p>
            <p class="titre">
                Apprenti ingénieur informatique
            </p>
            <p class="biography-text">
                Je suis un jeune de 21 ans passionné d'informatique habitant à Villepinte (93). <br/>
                J'ai beaucoup de projets et j'ai décidé de créer ce site pour en présenter une partie. <br/>
                J'ai un diplome de DUT Informatique en alternance obtenu à l'<a target="_blank" href="https://www.univ-gustave-eiffel.fr/">université Gustave Eiffel</a> et je suis actuellement en deuxième année de cycle ingénieur à l'<a target="_blank" href="https://www.esiee.fr/">ESIEE</a>.
                <br/>
                Je suis aussi intéressé pour des petits contrats en freelance.
            </p>
        </div>
    </div>
    
    <div class="row links">
        <div class="col-md-6">
            <h3> Mon CV </h3>
            <a href="../assets/CV.pdf" type="pdf" download> <img class="cv-icon" src="../assets/images/documentDl.png"
                    alt="logo téléchargement"> </a>

        </div>

        <div class="col-md-6 logos">
            <h3> Mes réseaux </h3>
            <a href="https://github.com/Pholith" target="_blank"> <img src="../assets/images/logoGithub.png"
                    alt="logo github"> </a>
            <a href="https://www.linkedin.com/in/vincent-buisset-067980174/" target="_blank"> <img
                    src="../assets/images/logoLinkedin.png" alt="logo linkedin"> </a>
        </div>
    </div>

    <div class="col-lg-12 h3 col-md-12 col-lg-offset-1 mx-auto">
        <h3> Quelques projets </h3>

        <app-project-description class="app-project-description d-flex flex-wrap justify-content-between"> </app-project-description>
        
        <h3 class="marginbot"> Et bien d'autres encore ! </h3>
    </div>
