<div *ngFor="let project of projects" class="project-description row">

    <div class="col-lg-9">
        <p class="name">
            {{ project.name }}
        </p>
        <div class="project-informations">
            <a *ngIf="project.link" [href]="project.link"> Lien projet </a>
            <div *ngIf="project.period"> Période: {{ project.period }} </div>
            <div> Equipe: {{ project.team }} </div>
            <div> Contexte: {{ project.context }} </div>
            <div> Technologies: {{ project.technologies.join(" / ") }} </div>
            <a *ngIf="project.gitLink" [href]="project.gitLink"> Git </a>
        </div>

        <div [innerHTML]="project.description"></div>
    </div>

    <img class="col-lg-3" [src]="project.img" alt="screenshot" [ngClass]="{'disabled': project.images === undefined }" (click)="toggleImages($event)">

    <div class="moreImages-invisible">
        <img *ngFor="let image of project.images" [src]="image" alt="screenshot">
    </div>
</div>