/* You can add global styles to this file, and also import other style files */

$lightGrey : #262626;
$darkGrey : #131313;
$apointColor: #1b2132;
$lightApointColor: #575757;


@font-face {
    font-family: Riangriung;
    src: url("assets/font/Riangriung.otf");
}

* {
    font-family: Candara, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
*:not(a) {
    color: white;
}

a {
    
}

h3 {
    margin-top: 0.4em;
    text-align: center;
}

.biography {
    margin-top: 1.2vw;
}

.biography .biography-text {
    margin-top: 2.5vw;
    line-height: normal;
    font-size: larger;
}

.biography img {
    border-radius: 2em / 1em;
    object-fit: cover;
}

p.myname {
    font-size: xx-large;
    line-height: 0.7em;
    margin-top: 0.8em;
    margin-bottom: 0;
}

.titre {
    font-size: xx-large;
}

.links {
    font-size: larger;
    background-color: $darkGrey;
    text-align: center;
    margin-top: 3vh;
    padding: 0;
    padding-bottom: 1em;
    border-radius: 5px;
}

.links img {
    width: 4em;
    height: 4em;
    margin-left: 1em;
    margin-right: 1em;
    transition: all .2s ease;
}

.links img:hover {
    transform: scale(1.1);
}

img.cv-icon {
    height: 4em;
    width: auto;
}

@keyframes fade_in_show {
    0% {
        opacity: 0;
        transform: scale(0)
    }
    100% {
        opacity: 1;
        transform: scale(1)
    }
}

select {
    border: 1px solid $lightApointColor;
    border-radius: 5px;
    background-color: $lightGrey;
    margin-left: 1em;
    margin-right: 1em;
}

/////////////////////////

.plants-vs-zombies {
    font-family: Riangriung;
}

/*
.biography img {
    width: 200px;
    height: 200px;
}*/
body {
    background-color: $lightGrey;
    padding-top: 10px;

}


// Disable images and links 
a.disabled {
    pointer-events: none; // Annule les clics et les animations
    cursor: default;
}
img.disabled {
    pointer-events: none;
}
///////

.marginbot {
    margin-bottom: 2em;
}

canvas {
    position: fixed;
    z-index: -10;
    //background-color: red;
    width: 100%;
}

/*
[class*="col-"],
footer {
    background-color: lightslategray;
    border: 2px solid black;
    border-radius: 6px;
    line-height: 40px;
    //text-align: center;
}*/