/* You can add global styles to this file, and also import other style files */

$lightGrey : #262626;
$darkGrey : #131313;
$apointColor: #1b2132;

@font-face {
    font-family: Riangriung;
    src: url("assets/font/Riangriung.otf");
}


* {
    color: white;
    font-family: Candara, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3 {
    margin-top: 1em;
    text-align: center;
}

.biography {
    margin-top: 2vw;
}

.biography .biography-text {
    margin-top: 1.5em;
    line-height: normal;
    font-size: larger;
}

.biography img {
    border-radius: 2em / 1em;
    object-fit: cover;
}

p.myname {
    font-size: xx-large;
    line-height: 0.7em;
    margin-top: 1em;
    margin-bottom: 0;
}

.titre {
    font-size: xx-large;
}

.links {
    font-size: larger;
    background-color: $darkGrey;
    text-align: center;
    margin-top: 5vh;
    padding: 0;
    padding-bottom: 1.6em;
    border-radius: 5px;
}

.links img {
    width: 4em;
    height: 4em;
    margin-left: 1em;
    margin-right: 1em;
    transition: all .2s ease;
}

.links img:hover {
    transform: scale(1.1);
}

img.cv-icon {
    height: 4em;
    width: auto;
}

.project-description {
    background-color: $darkGrey;
    border-radius: 1em;
    margin-top: 1.2em;
    min-height: 10vh;
}

.project-description a {
    display: contents;
}

.project-description img {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 1em / 0.8em;

    //border-top-left-radius: 1em;
    //border-bottom-left-radius: 1em;
    transition: all .2s ease-in;
    object-fit: cover;
    
}

.project-description > img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.project-description div {
    font-size: 0.8em;
}

.project-description .name {
    font-size: 1.1em;
    margin-top: 0.8em;
}

// Informations sous le titre du projet
div.project-informations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0.8em;
    margin-bottom: 1em;
    background-color: $apointColor;
    padding: 0.5em;
    border-radius: 0.5em;
}

div.project-informations a {
    display: block;
}

// Images à dérouler
.moreImages-visible img {
    padding: 0.3em;
    display: inline;
}

.moreImages-invisible {
    display: none;
}

.moreImages-visible {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    animation: fade_in_show 0.5s
}

@keyframes fade_in_show {
    0% {
        opacity: 0;
        transform: scale(0)
    }
    100% {
        opacity: 1;
        transform: scale(1)
    }
}

/////////////////////////

.plants-vs-zombies {
    font-family: Riangriung;
}

/*
.biography img {
    width: 200px;
    height: 200px;
}*/
body {
    background-color: $lightGrey;
    padding-top: 10px;

}


// Disable images and links 
a.disabled {
    pointer-events: none; // Annule les clics et les animations
    cursor: default;
}
img.disabled {
    pointer-events: none;
}
///////

.marginbot {
    margin-bottom: 2em;
}

canvas {
    position: fixed;
    z-index: -10;
    //background-color: red;
    width: 100%;
}

/*
[class*="col-"],
footer {
    background-color: lightslategray;
    border: 2px solid black;
    border-radius: 6px;
    line-height: 40px;
    //text-align: center;
}*/